* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  align-items: center;
  background: #f0e68c;
  border: 1px solid #f0e68c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  max-width: 100%;
  padding: 20px 0 30px 0;
  width: 800px;
}

.container1 {
  align-items: center;
  display: flex;
  font-weight: bold;
  gap: 20px;
  justify-content: center;
  line-height: 2;
  margin-bottom: 40px;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  height: 40px;
  padding: 4px 15px;
  width: 280px;
}

.search-btn {
  background-color: #e6e6fa;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 30px;
  padding: 10px 40px;
}

.person {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  gap: 15px;
  justify-content: space-between;
  line-height: 1.5;
  padding: 10px 20px;
  width: 100%;
}

.box {
  align-items: center;
  display: flex;
  font-size: 13px;
  gap: 10px;
  justify-content: center;
}

.avatar {
  align-items: center;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 70px;
  justify-content: center;
  text-align: center;
  width: 70px;
}

.delete-btn {
  background-color: #b22222;
  border: 1px solid #b22222;
  border-radius: 5px;
  color: #f0fff0;
  cursor: pointer;
  font-size: 15px;
  padding: 4px 10px;
}

.user {
  background: #f0fff0;
  border: 1px solid #ddd;
  border-radius: 9px;
  display: flex;
  margin-top: 15px;
  width: 100%;
}

.users {
  display: flex;
  flex-direction: column;
  width: 100%;
}
